<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740272609940-4ckr78uk389f0oef1ufdeie5qp44b9im.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740272609940-4ckr78uk389f0oef1ufdeie5qp44b9im</string>
	<key>API_KEY</key>
	<string>AIzaSyDVamW_jy6n4eHQphocEtiQ-gLs_jCjqZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>740272609940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hayalab.votingApp</string>
	<key>PROJECT_ID</key>
	<string>voting-app-9749e</string>
	<key>STORAGE_BUCKET</key>
	<string>voting-app-9749e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740272609940:ios:5ccfa1d87af5300aaf3281</string>
	<key>DATABASE_URL</key>
	<string>https://voting-app-9749e.firebaseio.com</string>
</dict>
</plist>